* {
    box-sizing: border-box;
}
body{
    background-color: black;
}

.container1, .container4, 
.container5, .container8,  
.container9, .container12, .container13 {
    background-color: rgb(19, 92, 55);
    text-align: center;
}
.container2, .container3, 
.container6, .container7, 
.container10, .container11, .container14 {
    background-color: rgb(211, 229, 235);
    text-align: center;

}

header{
    text-align: center;
}

.header{
    background-color: rgb(134, 121, 121);
    margin-top: -18px;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 40px 150px 40px 150px 40px 150px;
}

.myImg{
    border-radius: 200px;
}

* {
    box-sizing: border-box;
}
body{
    background-color: black;
}

.container1, .container4, 
.container5, .container8,  
.container9, .container12, .container13 {
    background-color: rgb(19, 92, 55);
    text-align: center;
}
.container2, .container3, 
.container6, .container7, 
.container10, .container11, .container14 {
    background-color: rgb(211, 229, 235);
    text-align: center;

}

header{
    text-align: center;
}

.header{
    background-color: rgb(134, 121, 121);
    margin-top: -18px;
    padding: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 40px 150px 40px 150px 40px 150px;
}

.myImg{
    border-radius: 200px;
}

.myName{
    color: rgb(19, 92, 55);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.Job{
    color: rgb(146, 146, 98);
}
.Column1{
    color: rgb(24, 41, 32);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.Column2{
    color: rgb(185, 157, 157);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}

/*Contact Form*/
.cForm{
    text-align: center;
}

input[type=text], input[type=email], select, textarea  {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.footer{
    background-color: rgb(134, 121, 121);
    margin-bottom: 0px;
    padding: 30px;
    text-align: center;
}
a{
    text-decoration: none;
    color: wheat;
   
}
